:root {
  --primary-color: #00468C;
  --secondary-color: #67A4E0;
  --accent1-color: #F4F6F8;
  --accent2-color: #FF7043;
  --heading-font: "Oswald", Arial, sans-serif;
  --body-font: "Calibri", sans-serif;
}

header {
  background-color: var(--secondary-color);
  color: var(--accent2-color);
	display: grid;
	grid-template-columns: 300px 1fr;
	align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--primary-color);
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

h1, h2, legend {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
  text-decoration: none;
  margin-right: 8px;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  color: var(--accent1-color);
  background-color: var(--primary-color);
}

h2 {
  text-align: center;
}

article {
  position: absolute;
  top: 100px;
  padding: 16px;
  color: var(--accent1-color);
  background-color: var(--primary-color);
}

.hero article img {
  float: right;
  width: 125px;
  margin-right: 1rem;
}

nav {
  display: flex;
	flex-wrap: wrap;
	list-style: none;
  justify-content: center;
  background-color: var(--accent1-color);
  padding: 0;
}

.navigation a {
  flex: 1 1 auto;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid var(--primary-color);
  padding: 1rem;
}

img.logo {
  display: block;
  margin: 0 auto;
}

.history {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.history img {
  width: 300px;
}

.history p {
  margin-top: 0;
  padding-top: 0;
}

.adventure {
  display: flex;
}

.adventure figure {
  width: 20%;
  padding: 1rem;
  text-align: center;
}

.adventure img {
  width: 100%;
}

footer {
  display: flex;
  background-color: var(--accent1-color);
}

footer p {
  width: 70%;
  text-align: end;
}

footer nav {
  width: 30%;
}

.map iframe {
  border: 0;
}

button {
  background-color: var(--primary-color);
  color: var(--accent1-color);
  padding: .75rem;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  border: 1px solid transparent;
}

button:hover {
  color: var(--primary-color);
  background-color: var(--accent1-color);
  border: 1px solid var(--primary-color);
}

.employees {
  display: flex;
  justify-content: center;
}

.employees figure {
  width: 33%;
  padding: 1rem;
  text-align: center;
}

.employees img {
  height: 200px;
  width: 100%;
  object-fit: contain;
}

legend {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
}

fieldset {
  border: none;
}

input, textarea {
  padding: 0.5rem;
  font-size: 1.1rem;
}

input[type="text"],
input[type="email"] {
  width: 50%;
}

.contact-info {
  display: grid;
  margin-bottom: 1rem;
}

.contact-info label {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.radio-button, .write-message {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
}

textarea {
  width: 100%;
}

.subscribeme {
  margin-top: 1rem;
}

.my-wireframe {
  color: var(--primary-color);
  text-decoration: none;
}